html,
body,
.back {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: black;
  color: white;
}

/*  font header e botões do header */

@font-face {
  font-family: "Impactt";
  src: url("../fonts/Impact.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Caviar";
  src: url("../fonts/CaviarDreams.ttf");
  font-weight: normal;
  font-style: normal;
}

/* (back)header sem de todas as páginas sem ser a principal */
/* header da pagina principal */
/* responsividade para telas mobiles */

.back {
  background: linear-gradient(
      to right,
      rgb(0, 0, 0) 0%,
      rgba(255, 126, 95, 0) 100%
    ),
    url("../assets/1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

.back2 {
  background: linear-gradient(
      to right,
      rgb(0, 0, 0) 0%,
      rgba(255, 126, 95, 0) 100%
    ),
    url("../assets/1.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10px;
}

#icon,
#icon2 {
  display: block;
  width: 50px;
  height: 50px;
  background-image: url("../assets/icon.png");
  background-size: cover;
  background-position: center;
}

#icon {
  margin-left: 50px;
}

#icon2 {
  margin-left: 30px;
}

.modo {
  display: flex;
  transition: margin-left 0.5s;
  margin-left: auto;
}

.container {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container img {
  margin-top: 10px;
}

.modo img,
.modo a {
  width: 45px;
  height: 45px;
  display: block;
  margin-left: 10px;
  margin-top: 10px;
}

.container .barber {
  font-family: "Impactt", sans-serif;
}

.container a {
  margin-left: 50px;
  color: white;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
  text-decoration: none;
  margin-top: 10px;
  font-family: "caviar", sans-serif;
}

#mySidebar img {
  width: 90px;
  height: 90px;
  display: block;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
  background-color: transparent;
  border: none;
  font-weight: bold;
  cursor: pointer;
  font-family: "caviar", sans-serif;
}

.sidebar a:hover {
  color: #2e2e2e;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  color: white;
}

.openbtn {
  opacity: 1;
  cursor: pointer;
  background-color: transparent;
  color: white;
  padding: 10px 15px;
  border: none;
}

#barber-home {
  font-family: "Impactt", sans-serif;
  text-decoration: none;
  color: white;
}

/* primeiro slide principal e seus botões */

.slide {
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
  margin: 0 auto;
  width: 30%;
  padding: 20px;
  margin-top: 10%;
}

.slide h2,
.services h2 {
  font-size: 3rem;
  font-weight: bold;
}

.slider p {
  font-size: 2rem;
}

.contact-btn {
  color: white;
  background-color: rgb(255, 187, 0);
  border-radius: 30em;
  border: none;
  cursor: pointer;
  padding: 15px;
  transition: background-color 0.4s ease;
  font-weight: bold;
}

.contact-btn:hover,
.Prods a:hover,
.redirect:hover,
button[type="submit"]:hover,
.produtos2 a:hover {
  background-color: transparent;
  border: 1px solid rgb(245, 189, 37);
  color: rgb(245, 189, 37);
}

.custom-navigation {
  margin: 0 auto;
  width: 30%;
  padding: 10px;
}

.custom-prev,
.custom-next {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  transition: background-color 0.4s ease;
}

.custom-prev:hover,
.custom-next:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

/* sobre na pagina prncipal */

.sobre {
  background-color: antiquewhite;
  color: black;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}

.sobre h2 {
  font-size: 2.5em;
}

.sobre p {
  font-size: 1.5em;
  width: 30%;
  margin: 0 auto;
}

/* slide de cortes de cabelo, seus botoes, e texto */

#main-swiper {
  width: 60%;
  margin: 0 auto;
  margin-top: 2%;
  background-color: #2e2e2e;
  padding: 20px;
  color: white;
}

#main-swiper .slide2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-weight: bold;
}

#main-swiper .slide2 h2 {
  font-size: 2.5em;
  font-weight: bold;
}

.custom-navigation2 {
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 10;
}

.services {
  width: 30%;
  margin: 0 auto;
  margin-top: 5%;
  text-align: center;
}

.services p {
  font-size: 1.5em;
}

.redirect {
  margin: 0 auto;
  background-color: rgb(245, 189, 37);
  color: white;
  border: none;
  padding: 20px;
  border-radius: 30em;
  width: 50%;
  cursor: pointer;
  transition: background-color 0.4s ease;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
}

.btn-prev,
.btn-next {
  transition: 0.4s;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0 10px;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  margin-top: 10px;
  width: 40px;
  height: 40px;
  transition: background-color 0.4s ease;
}

.btn-prev:hover,
.btn-next:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.slide2 img {
  margin: 0 auto;
  width: 200px;
  height: 200px;
}

/* página de produtos juntamente com a de página de serviços, ambas tem o mesmo estilo*/
.info-prods,
.info-services {
  width: 50%;
  margin: 0 auto;
  margin-top: 5%;
  text-align: center;
}

.info-prods h2,
.info-services h2,
.back-forms h2 {
  font-size: 2.5em;
  font-family: "Times New Roman", Times, sans-serif;
}

.info-prods p,
.info-services p,
.back-forms p {
  font-size: 1.5em;
}

.catalog-services,
.catalog-prods {
  margin-top: 5%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.servicos2 img,
.produtos2 img {
  width: 200px;
  height: 200px;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.8);
}

.servicos2,
.produtos2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
}

/* Depoimentos */
.depoimentos {
  padding: 20px;
  text-align: center;
  width: 60%;
  margin: 0 auto;
  background-color: #101010;
  margin-top: 5%;
  border-radius: 20px;
}

.depoimento-item {
  border: 1px solid #f4f4f4;
  background-color: #2e2e2e;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  margin: 10px auto;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.depoimento-item p {
  margin: 5px 0;
  color: rgb(210, 210, 210);
}

.depoimento-imagem {
  display: flex;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

/* mapa na pagina principal */
.maps {
  text-align: center;
  margin-top: 7%;
}

.leaflet-container {
  margin: 0 auto;
  margin-top: 3%;
  height: 500px;
  width: 40%;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.8);
}

/* produtos na página principal */

.produtos {
  text-align: center;
}

.products {
  display: flex;
  justify-content: space-evenly;
}

.Prods {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Prods img {
  width: 200px;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.8);
}

.Prods a {
  background-color: rgb(255, 187, 0);
  padding: 20px;
  color: white;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  transition: background-color 0.4s ease;
  font-weight: bold;
  text-decoration: none;
}

.btn-prods {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.btn-prods a {
  color: white;
  padding: 15px;
  font-size: 1.3em;
  border-radius: 20px;
  border: 1px solid white;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.4s ease;
}

.btn-prods a:hover {
  background-color: white;
  color: black;
}

/* página agendamento e seu formulário */

.back-forms {
  background-color: rgb(44, 44, 44);
  color: white;
  padding: 20px;
}

.forms-style,
#formulario,
#cancel-formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  background-color: rgb(17, 17, 17);
  border-radius: 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 1);
  padding: 10px 20px;
}

.date-hour #horario,
.date-hour #date {
  margin-left: 20px;
  padding: 10px;
  margin: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 1);
}

.date-hour #horario,
.date-hour #date,
#servico,
#barbeiro {
  border: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 1);
  background-color: rgb(47, 47, 47);
  color: white;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background-color: rgb(214, 214, 214);
  cursor: pointer;
}

#nome,
#telefone,
#email {
  border: none;
  color: white;
  background-color: transparent;
  border-bottom: 1px solid whitesmoke;
  padding: 10px 20px;
  font-size: 1em;
  outline: none;
}

.cut-infos,
.barber-infos,
#servico {
  margin: 10px;
}

#nome::placeholder,
#telefone::placeholder,
#email::placeholder {
  color: rgb(158, 158, 158);
  font-weight: bold;
}

#horario,
input[type="date"] {
  border: none;
}

#barbeiro,
#servico {
  padding: 10px;
}

button[type="submit"] {
  margin: 0 auto;
  background-color: rgb(245, 189, 37);
  color: white;
  border: none;
  padding: 20px;
  border-radius: 30em;
  cursor: pointer;
  transition: background-color 0.4s ease;
  text-decoration: none;
  margin-top: 2%;
  font-weight: bold;
}

.btn-confirm button:disabled,
#btn-cancel:disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
  opacity: 0.6;
}

.btn-confirm button:disabled:hover,
#btn-cancel:disabled:hover {
  background-color: #cccccc;
  border: none;
}

/* produtos página principal */
.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 5%;
}

.produtos2 a {
  margin: 0 auto;
  background-color: rgb(245, 189, 37);
  color: white;
  border: none;
  padding: 20px;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.4s ease;
  text-decoration: none;
  font-weight: bold;
}

/* página de assinaturas */

.back-forms h2,
.back-forms p {
  text-align: center;
}

.info-sign {
  text-align: center;
  width: 60%;
  margin: 0 auto;
}

.info-sign h2 {
  font-family: "Impactt";
  font-size: 1.6em;
}

.plans {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.info-sign p {
  font-size: 1.4em;
}

.bronze,
.silver,
.gold {
  margin: 20px;
}

.bronze-pay,
.silver-pay,
.gold-pay {
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
}

.bronze-pay {
  background-color: rgb(112, 61, 20);
}

.silver-pay {
  background-color: silver;
}

.gold-pay {
  background-color: gold;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
  color: black;
}

td {
  background-color: #f9f9f9;
  text-align: center;
  padding: 30px 40px;
}

table a {
  margin: 0 auto;
  background-color: rgb(245, 189, 37);
  color: white;
  border: none;
  padding: 15px;
  cursor: pointer;
  transition: background-color 0.4s ease;
  text-decoration: none;
  font-weight: bold;
}

table a:hover {
  background-color: transparent;
  border: 1px solid rgb(245, 189, 37);
  color: rgb(245, 189, 37);
}

#h2 {
  text-align: center;
}

/* rodapé */

footer {
  background-color: #242424;
  gap: 50px;
  padding: 25px;
  text-align: center;
  color: white;
  margin-top: 5%;
}

footer img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

footer hr {
  width: 80%;
}

.menus {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.menu a {
  font-family: "Impactt", sans-serif;
  text-decoration: none;
  color: white;
  letter-spacing: 2px;
}

.menu,
.menu2 {
  width: 20%;
  text-align: left;
}

.menu a,
.menu2 h2 {
  font-size: 2em;
}

.menu3 .redes {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: center;
  text-decoration: none;
}

.menu,
.menu2,
.menu3 {
  margin-left: 5%;
}

#facebook,
#instagram {
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  margin: 0 10px;
}

#facebook {
  background-image: url("../assets/Facebook.png");
}

#instagram {
  background-image: url("../assets/instagram.png");
}

/* responsividade */
@media (max-width: 1650px) {
  #main-swiper {
    width: 70%;
  }
}
@media (max-width: 1366px) {
  #main-swiper .slide2 h2,
  .slider p {
    font-size: 1.7em;
  }

  .container a {
    font-size: 18px;
  }

  .sobre h2 {
    font-size: 2em;
  }

  .slide h2,
  .services h2 {
    font-size: 2.5rem;
  }

  .services p,
  .sobre p {
    font-size: 1.2em;
  }

  .info-services h2,
  .info-prods h2,
  .back-forms h2 {
    font-size: 2em;
  }

  .menu a,
  .menu2 h2 {
    font-size: 1.5em;
  }

  .container a {
    font-size: 14px;
  }

  .slide {
    width: 40%;
  }

  .leaflet-container {
    width: 60%;
  }

  #formulario {
    width: 70%;
  }

  .catalog-services,
  .catalog-prods,
  .products {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 800px) {
  .slide {
    width: 70%;
  }

  .slide h2,
  .services h2 {
    font-size: 1.3rem;
  }

  .sobre p {
    width: 90%;
    font-size: 1em;
  }

  .services {
    width: 90%;
  }

  #main-swiper {
    width: 90%;
    padding: 10px;
  }

  .menu a {
    letter-spacing: 1px;
  }

  .menu,
  .menu2 {
    width: 80%;
  }

  .leaflet-container {
    height: 250px;
    width: 80%;
  }

  .catalog-services,
  .catalog-prods,
  .products {
    grid-template-columns: 1fr;
  }

  .products {
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .Prods img {
    margin-top: 10%;
    width: 200px;
  }

  .Prods button {
    padding: 10px;
  }

  .btn-prods a {
    margin: 10%;
    padding: 5px;
  }

  .back-forms {
    margin: 0 auto;
  }

  .forms-style {
    padding: 10px 20px;
    width: 90%;
  }

  #formulario,
  #cancel-formulario {
    padding: 5px 10px;
    width: 80%;
    margin: 0 auto;
  }

  .date-hour #horario,
  .date-hour input[type="date"] {
    margin-left: 20px;
    padding: 10px;
    margin: 10px;
  }

  #nome,
  #telefone,
  #email {
    padding: 10px 5px;
    font-size: 0.9em;
  }

  #servico {
    width: 90%;
  }

  .date-hour #horario,
  .date-hour input[type="date"] {
    margin-left: 0px;
  }

  #barbeiro,
  #servico {
    padding: 5px;
    margin: 0px;
  }

  button[type="submit"] {
    padding: 10px;
  }

  .info-prods,
  .info-services {
    width: 80%;
  }

  .info-services h2,
  .info-prods h2,
  .back-forms h2 {
    font-size: 1.5em;
  }

  .info-prods p,
  .info-services p,
  .back-forms p,
  .services p {
    font-size: 1em;
  }

  .servicos2,
  .produtos2 {
    margin-top: 10%;
  }

  .depoimentos {
    padding: 10px;
    width: 90%;
  }

  .depoimento-item {
    padding: 10px;
    width: 70%;
    margin: 10px auto;
  }

  footer {
    padding: 15px;
    gap: 15px;
  }

  .menus {
    flex-wrap: wrap;
  }

  .menu,
  .menu2,
  .menu3 {
    margin-left: 0%;
  }
}
