html,
body {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  text-align: center;
}

table {
  margin: 0 auto;
  margin-top: 3%;
}

@media (max-width: 800px) {
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  thead {
    display: none; /* Esconde os cabeçalhos */
  }

  tr {
    margin-bottom: 15px;
    border: 1px solid #ccc;
    padding: 10px;
  }

  td {
    position: relative;
    padding-left: 50%;
    text-align: left;
  }

  td::before {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 45%;
    white-space: nowrap;
    font-weight: bold;
    content: attr(data-label); /* Pega o conteúdo do data-label */
  }
}
